@import "tailwindcss";
@source inline("{hover:,}bg-red-50");
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --default-font-family: "Cairo";
  --color-stone-50:  oklch(0.98 0.00 10);
  --color-stone-100: oklch(0.97 0.01 10);
  --color-stone-200: oklch(0.93 0.01 18);
  --color-stone-300: oklch(0.87 0.02 15);
  --color-stone-400: oklch(0.71 0.04 19);
  --color-stone-500: oklch(0.55 0.04 19);
  --color-stone-600: oklch(0.45 0.04 19);
  --color-stone-700: oklch(0.37 0.04 19);
  --color-stone-800: oklch(0.28 0.04 22);
  --color-stone-900: oklch(0.21 0.04 28);
  --color-stone-950: oklch(0.13 0.04 27);
}

@utility debug {
  @apply outline outline-red-400;
}

/* DEBUG MODE */
/* * {
    @apply debug
} */

/* Change Autocomplete styles in Chrome*/

@media (prefers-color-scheme: light) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
    color: black;
    font-family: "Cairo", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    box-shadow: 0 0 0px 1000px black inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
    font-family: "Cairo", sans-serif;
  }
}

[class*="bg"]:not(label),
[class*="ring"]:not(label) {
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.dark .scrollbar {
  scrollbar-color: var(--color-zinc-400) var(--color-zinc-700);
  transition: all 150ms ease-in-out;
}
.dark .scrollbar::-webkit-scrollbar-track {
  background: var(--color-zinc-700);
  border-radius: 24px;
  transition: all 150ms ease-in-out;
}
.dark .scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-zinc-400);
  transition: all 150ms ease-in-out;
}