@import "tailwindcss";

@theme {
    --default-font-family: "Cairo";
}

@utility debug {
    @apply outline outline-red-400
}

/* DEBUG MODE */
/* * {
    @apply debug
} */

table {
    @apply w-full table-fixed rounded-3xl overflow-hidden text-center border-1 border-black;
}

thead {
    @apply bg-gray-300 font-bold text-lg text-black border-1 border-black;
}

thead th {
    @apply p-2.5 border-1 border-black;
}

tbody {
    @apply bg-white divide-x-2 divide-y-2 divide-black text-black border-1 border-black;
}

tbody td {
    @apply p-2.5 border-1 border-black;
}

th:nth-child(1) {
    @apply rounded-tr-[23px]
}

th:nth-child(2) {
    @apply rounded-tl-[23px]
}

tr:nth-last-child(1) > td:nth-child(1) {
    @apply rounded-br-[23px]
}

tr:nth-last-child(1) > td:nth-child(2) {
    @apply rounded-bl-[23px]
}

tbody > tr:nth-child(even) {
    @apply bg-gray-100
}

tbody tr:hover {
    @apply bg-blue-100 transition ease-in-out duration-200;
}